In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import math

In [26]:
file = 'spambase/spambase.data'
data=pd.read_csv(file,header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [27]:
possible_instances=(2**(57))
print('Possible Instances:',possible_instances)
print('Size of the Hypothesis Space: 2Ë†possible Instances')
possible_concepts=(3**(57))
print('Number of Possible Concepts',possible_concepts)
#print(testing_data)

Possible Instances: 144115188075855872
Size of the Hypothesis Space: 2Ë†possible Instances
Number of Possible Concepts 1570042899082081611640534563

In [28]:
#binarize data using mean value
threshold=data.mean()
i=0
result=pd.DataFrame()
while (i<58):
    #print(dataframe[i])
    #print(threshold[i])
    ad=pd.Series(np.where(data[i] >= threshold[i], 1, 0),data.index)
    i=i+1
    result = pd.concat([result, ad],axis=1,ignore_index=True)
#print(result)
data = pd.merge(result, data, how='left')
data

C:\Users\KOTA SAIDEEP\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1151: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
1,1,1,1,0,0,1,1,0,0,1,...,0,0,0,1,1,1,0,1,1,1
2,0,0,1,0,1,1,1,1,1,1,...,0,1,0,1,1,0,1,1,1,1
3,0,0,0,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,1,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4598,1,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
4599,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4600,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#takes 80% for training and 20% for testing
training_data, testing_data = train_test_split(data, train_size=0.80)

#training data is divided into spam and non spam so that model will only trained on spam data
non_spam,spam=[x for _, x in training_data.groupby(training_data[57]==1)]

#To make use of all data I used non spam data in training dataset to test the model.
frames = [testing_data, non_spam]
testing_data = pd.concat(frames)

In [30]:
#Implementaton of the concept learner
col = 57
a = []
data=spam.values.tolist()

hyp = ['0'] * col

for j in range(0,col):
    hyp[j] = data[0][j];

for i in range(0,len(data)):
    if (data[i][57] == 1):
        for j in range(0,col):
            if data[i][j]!= hyp[j] and hyp[j]=='0':
                hyp[j]=data[i][j]
            elif data[i][j]!= hyp[j] and hyp[j]!='0':
                hyp[j]='?'
        j=j+1

In [31]:
#Predicting the results based on trained model/testing
true=0
false=0
X_test=testing_data.iloc[:,0:57]
Y_test=testing_data.iloc[:,-1]
Y_Pred=[]
for i in range(0,len(X_test)):
    for index in range(0,len(hyp)):
        if X_test.iloc[i,:][index]==hyp[index]:
            true=true+1
        else:
            false=false+1
    if true==1:
        Y_Pred.append(1)
    else:
        Y_Pred.append(0)

In [32]:
#Calculate accuracy of the model
list3 = np.equal(Y_test,Y_Pred)
def countS(lst): 
    return len(list(filter(None, lst))) 

correct=countS(list3)
accuracy=(correct/len(list3))
print('No of Emails:',len(list3))
print('Correctly Detected:',correct)
print('Accuracy:',round((accuracy*100),2),'%')

No of Emails: 3138
Correctly Detected: 2788
Accuracy: 88.85 %